@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    resize: none;
}
html{
    
    -webkit-tap-highlight-color: transparent;
}
#atributos {
    background: #121212;
    background-image: url(../img/Atributos.png);
    background-position: 0 2.5vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    margin-left: 0%;
    position: absolute;
    top: 0;
    left: 0;
}
#AGI{
    height: 6.5vh;
    width: 14vw;
    margin-top: 6vh;
    margin-left: 43vw;
}
#AGI textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#FOR{
    height: 6.5vh;
    width: 14vw;
    margin-top: 4vh;
    margin-left: 12vw;
}
#FOR textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#INT{
    height: 6.5vh;
    width: 14vw;
    margin-top: -6.5vh;
    margin-left: 74vw;
}
#INT textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#PRE{
    height: 6.5vh;
    width: 14vw;
    margin-top: 11vh;
    margin-left: 24.5vw;
}
#PRE textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#VIG{
    height: 6.5vh;
    width: 14vw;
    margin-top: -6.5vh;
    margin-left: 62.5vw;
}
#VIG textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
.pericias{
    color: white;
    background-color: black;
    height: 20vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 10vh;
}
.pericias .texto{
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.5vh;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 1vh;
}
.pericias-lista{
    padding-left: 1vw;
    background: black;
    overflow: scroll;
    height: 31vh;
}
@media only screen and (min-width: 0px) and (max-width: 720px) and (min-height: 0px) and (max-height: 1600px) and (orientation: portrait) {
    #AGI{
        height: 6.6vh;
    }
    #FOR{
        height: 6.6vh;
        margin-top: 4.5vh;
    }
    #INT{
        height: 6.6vh;
    }
    #VIG{
        height: 6.6vh;
        margin-top: -6.5vh;
    }
    #PRE{
        height: 6.6vh;
        margin-top: 11.5vh;
    }
}