@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    resize: none;
}
html{
    -webkit-tap-highlight-color: transparent;
}
#atributos {
    background: #121212;
    background-image: url(../img/Atributos.png);
    background-position: 0 20px;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    margin-left: 0%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
}
#AGI{
    height: 50px;
    width: 50px;
    margin-top: 46px;
    margin-left: 155px;
}
#AGI textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#FOR{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-left: 43px;
}
#FOR textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#INT{
    height: 50px;
    width: 50px;
    margin-top: -50px;
    margin-left: 266px;
}
#INT textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#PRE{
    height: 50px;
    width: 50px;
    margin-top: 82px;
    margin-left: 88px;
}
#PRE textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#VIG{
    height: 50px;
    width: 50px;
    margin-top: -50px;
    margin-left: 225px;
}
#VIG textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
.pericias{
    color: white;
    background-color: black;
    height: 160px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 80px;
}
.pericias .texto{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 3px;
}
.pericias-lista{
    padding-left: 5px;
    background: black;
    height: 750px;
}
@media (min-width: 720px), (min-height: 1600px){
    #AGI{
        height: 6.6vh;
    }
    #FOR{
        height: 6.6vh;
        margin-top: 4.5vh;
    }
    #INT{
        height: 6.6vh;
    }
    #VIG{
        height: 6.6vh;
        margin-top: -6.5vh;
    }
    #PRE{
        height: 6.6vh;
        margin-top: 11.5vh;
    }
}