@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    resize: none;
}
html{
    -webkit-tap-highlight-color: transparent;
}
#atributos {
    background: #121212;
    background-image: url(../img/Atributos.png);
    background-position: 0 20px;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    margin-left: 0%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
}
#AGI{
    height: 50px;
    width: 50px;
    margin-top: 46px;
    margin-left: 155px;
}
#AGI textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#FOR{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-left: 43px;
}
#FOR textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#INT{
    height: 50px;
    width: 50px;
    margin-top: -50px;
    margin-left: 266px;
}
#INT textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#PRE{
    height: 50px;
    width: 50px;
    margin-top: 82px;
    margin-left: 88px;
}
#PRE textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
#VIG{
    height: 50px;
    width: 50px;
    margin-top: -50px;
    margin-left: 225px;
}
#VIG textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
.pericias{
    color: white;
    background-color: black;
    height: 160px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 80px;
}
.pericias .texto{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 3px;
}
.pericias-lista{
    padding-left: 5px;
    background: black;
    height: 750px;
}
.pericias-div{
    display: flex;
    justify-content: space-between;
}
.dropdown{
    min-width: 15px;
    position: relative;
    margin: 5px;
}
.dropdown * {
    box-sizing: border-box;
}
.select{
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    transition: background 0.3s;
}
.select-clicked {
    box-shadow: 0 0 0.8em #94001e;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: 0.3s;
}
.caret-rotate {
    transform: rotate(180deg);
}
.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgb(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 36px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li{
    margin: 0.3em 0em 0em 0em;
    padding-right: 10px;
}
.menu-open{
    display: block;
    opacity: 1;
}
@media (min-width: 720px), (min-height: 1600px){
    #AGI{
        height: 6.6vh;
    }
    #FOR{
        height: 6.6vh;
        margin-top: 4.5vh;
    }
    #INT{
        height: 6.6vh;
    }
    #VIG{
        height: 6.6vh;
        margin-top: -6.5vh;
    }
    #PRE{
        height: 6.6vh;
        margin-top: 11.5vh;
    }
}