@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    resize: none;
}
html{
    -webkit-tap-highlight-color: transparent;
}
#inventario {
    background: none;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    margin-left: -100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
}
.pontos{
    align-items: center;
    display: flex;
    height: 50px;
}
#pontosdeprestigio{
    flex: 1;
    font-size: 2em;
    border: 5px black;
    height: 100%;
    width: 100%;
    font-weight: 700;
    box-sizing: border-box;
    text-align-last: center;
    align-self: center;
}
.pdp::placeholder{
    padding-top: 3px;
    flex: 1;
    font-size: 0.45em;
    font-weight: 700;
    box-sizing: border-box;
}
.inventario{
    margin: 10px;
    margin-top: 15px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inventario .pontos{
    width: 80px;
    margin-right: 20px;
    border: 1px;
    box-shadow: 0 0 0 5px black;
}
.inventario h1{
    color: white;
    margin-left: 10px;
}
.limite{
    margin: 10px;
    margin-top: 15px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.limite-itens{
    margin: 10px;
    margin-top: 15px;
    background-color: black;
    display: flex;
    align-items: center;
    height: 50px;
}
.limite-itens h1{
    color: white;
    margin-left: 10px;
    font-size: 0.5em;
    text-align: center;
    margin-right: 13px;
}
.limiteitensinput{
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: space-between;
}
.limite-itens .limiteitensinput{
    width: 260px;
    margin-right: 20px;
    box-shadow: 0 0 0 5px black;
}
#I{
    flex: 1;
    font-size: 2em;
    border: 5px black;
    height: 50px;
    width: 50px;
    font-weight: 700;
    box-sizing: border-box;
    text-align-last: center;
    align-self: center;
    margin-right: 5px;
}
#II{
    flex: 1;
    font-size: 2em;
    border: 5px black;
    height: 50px;
    width: 50px;
    font-weight: 700;
    box-sizing: border-box;
    text-align-last: center;
    align-self: center;
    margin-right: 5px;
}
#III{
    flex: 1;
    font-size: 2em;
    border: 5px black;
    height: 50px;
    width: 50px;
    font-weight: 700;
    box-sizing: border-box;
    text-align-last: center;
    align-self: center;
    margin-right: 5px;
}
#VI{
    flex: 1;
    font-size: 2em;
    border: 5px black;
    height: 50px;
    width: 50px;
    font-weight: 700;
    box-sizing: border-box;
    text-align-last: center;
    align-self: center;
    margin-right: 5px;
}
#cargamaxima{
    flex: 1;
    font-size: 2em;
    border: 5px black;
    height: 50px;
    width: 50px;
    font-weight: 700;
    box-sizing: border-box;
    text-align-last: center;
    align-self: center;
}
#cargamaxima::placeholder{
    flex: 1;
    padding-top:10px;
    font-size: 0.3em;
    font-weight: 700;
    box-sizing: border-box;
}
.limite h1{
    color: white;
    margin-left: 10px;
    font-size: 0.5em;
    text-align: center;
}
.limiteinput{
    align-items: center;
    display: flex;
    height: 50px;
}
.limite .limiteinput{
    width: 260px;
    margin-right: 20px;
    box-shadow: 0 0 0 5px black;
}
#limitedecredito{
    flex: 1;
    font-size: 2em;
    border: 5px black;
    height: 100%;
    width: 100%;
    font-weight: 700;
    box-sizing: border-box;
    text-align-last: center;
    align-self: center;
}
.itens {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    background: black;
    color: white;
    margin: 10px;
    min-height: 77px;
    height: calc(auto + 5px);
}
.itens h1{
    font-size: 0.5rem;
}
.titles{
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
}
.itens .item{
    margin-right: 146px;
}
.itens .categoria{
    margin-right: 16px;
    margin-left: 10px;
}
.item-nome{
    position: relative;
    margin-top: 10px;
    left: 5px;
    width: 185px;
    height: 50px;
}
.item-nome textarea{
    width: 100%;
    height: 50px;
}
#item-nome {
    border: none;
    font-weight: 700;
    font-size: 1em;
    height: 50px ;
}
.item-nome-1{
    position: relative;
    margin-top: 10px;
    left: 5px;
    width: 185px;
    height: 50px;
}
.item-nome-1 textarea{
    width: 100%;
    height: 50px;
    border: none;
}
#item-nome-1 {
    border: none;
    font-weight: 700;
    font-size: 1em;
    height: 50px ;
}
#item-categoria {
    border: none;
    font-weight: 700;
    font-size: 2em;
    height: 50px ;
    width: 50px;
    text-align-last: center;
    align-self: center;
}
.item-categoria{
    position: relative;
    margin-top: 16px;
    left: 10px;
    width: 50px;
}
#item-categoria-1 {
    border: none;
    font-weight: 700;
    font-size: 2em;
    height: 50px ;
    width: 50px;
    text-align-last: center;
    align-self: center;
}
.item-categoria-1{
    position: relative;
    margin-top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}
.item-categoria-1 textarea{
    width: 100%;
    height: 100%;
    border: none;
}
#item-espaco {
    border: none;
    font-weight: 700;
    font-size: 2em;
    height: 50px ;
    width: 50px;
    text-align-last: center;
    align-self: center;
}
.item-espaco{
    position: relative;
    margin-top: 16px;
    margin-left: 6px;
    left: 9px;
    width: 50px;
}
#item-espaco-1 {
    border: none;
    font-weight: 700;
    font-size: 2em;
    height: 50px ;
    width: 50px;
    text-align-last: center;
    align-self: center;
}
.item-espaco-1{
    position: relative;
    margin-top: 10px;
    margin-left: 6px;
    left: 9px;
    height: 50px;
    width: 50px;
}
.item-espaco-1 textarea{
    height: 100%;
    width: 100%;
    border: none;
}
.item-container,
.item-container-template {
    display: flex;
    flex-direction: row; /* Keep inputs in a row */
    align-items: center;
    height: 50px;
    margin-bottom: -5px;
    background: black;
}
.item-container-template {
    display: none; /* Keep the template hidden */
}

.add-item {
    font-size: 2em !important;
    font-weight: 600;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 7px;
    width: 32px !important;
    height: 50px !important;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-item:focus {
    outline: none;
}

.remove-item {
    font-size: 2em !important;
    font-weight: 600;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 7px;
    width: 32px !important;
    height: 50px !important;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-item:focus {
    outline: none;
}
.categoria{
    padding-left: 10px;
}